{% extends "base_generic.html" %}
{% block stylesheet %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
{% endblock %} 

{% block content %}


<div class="row my-3">

  <div class="col-2">
    <div classs="row ">
      <span class="text-center">
        <h6>选择下载器</h6>
      </span>
    </div>
    <div class="row mx-1">
      <div class="col text-center list-group">

        {% for sc in sclient_list %}
        <a href="#" class="list-group-item list-group-item-action {%if cur_sclient == sc.seedclient_id %} active {% endif %}" data-id="{{ sc.seedclient_id }}">{{ sc.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-10">
    <div classs="row">
      There is a chart here.
      <canvas id="myLineChart"></canvas>

    </div>
    <div classs="row" id="list_contents">
      {% include 'activities/tor_list.html' %}
    </div>
  </div>

</div>
{% endblock %}


{% block script%}


<script>


  var data_id = 0;
  {% if cur_sclient %}
  data_id = {{ cur_sclient }};
  {% endif %}
  (function worker() {
    $.ajax({
      url: '/activities/listupdate/' + data_id,
      success: function (data) {
        $('#list_contents').html(data);
      },
      complete: function () {
        // Schedule the next request when the current one's complete
        setTimeout(worker, 2000);
      }
    });
  })();


  $('.list-group-item').on('click', function () {
    var $this = $(this);
    var $alias = $this.data('alias');

    $('.active').removeClass('active');
    $this.toggleClass('active')

    data_id = $(this).attr("data-id");
    // console.log(data_id);  
    window.location = '/activities/listselect/' + data_id;
  })

  $(document).ready(function () {
    // setTimeout(worker, 1000);
    // worker();
  })

</script>

<script>
var linectx = document.getElementById('myLineChart').getContext('2d');
var myChart1 = new Chart(linectx, {
  type: 'line',
  data: {
    labels: [{%for data in speed_list %} 
              "{{data.time}}",
            {% endfor %}],
    datasets: [{
      label: '',
      data: [{%for data in speed_list %}{{ data.sum_upload_speed }}, {% endfor %}],
      normalized: true,
      indexAxis: "x",
      backgroundColor: backgroundColorList,
      borderColor: borderColorList,
      pointRadius: 0,
      borderWidth: 1
    }]
  },
  options: {
        scales: {
          x: [{
            type: 'time', 
            time: {
              unit: 'minute',
            },
          }]
        },
        title: {
          display: true,
          text: 'Temperature Sensor 1'
        }
      }
});


function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

</script>	




{% endblock %}