{% extends "base_generic.html" %}
{% load static %}
{% block stylesheet %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/chartjs-adapter-date-fns.bundle.min.js' %}"></script>
{% endblock %} 

{% block content %}


<div class="row my-3">

  <div class="col-2">
    <div classs="row ">
      <span class="text-center">
        <h6>选择下载器</h6>
      </span>
    </div>
    <div class="row mx-1">
      <div class="col text-center list-group">

        {% for sc in sclient_list %}
        <a href="#" class="list-group-item list-group-item-action {%if cur_sclient == sc.seedclient_id %} active {% endif %}" data-id="{{ sc.seedclient_id }}">{{ sc.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-10">
    <div classs="row">
      {% if cur_sclient %}
        {{ sumstr }}
        <canvas id="myLineChart"></canvas>
      {% endif %}
    </div>
    <div classs="row" id="list_contents">
      {% include 'activities/tor_list.html' %}
    </div>
  </div>

</div>
{% endblock %}


{% block script%}


<script>

$(document).ready(function () {

  var data_id = 0;
  {% if cur_sclient %}
  data_id = {{ cur_sclient }};
  (function worker() {
    $.ajax({
      url: '/activities/listupdate/' + data_id,
      success: function (data) {
        $('#list_contents').html(data);
      },
      complete: function () {
        setTimeout(worker, 1000);
      }
    });
  })();
  {% endif %}


  $('.list-group-item').on('click', function () {
    var $this = $(this);
    var $alias = $this.data('alias');

    $('.active').removeClass('active');
    $this.toggleClass('active')

    data_id = $(this).attr("data-id");
    // console.log(data_id);  
    window.location = '/activities/listselect/' + data_id;
  })
    // setTimeout(worker, 1000);
    // worker();
})

</script>

<script>
var linectx = document.getElementById('myLineChart').getContext('2d');
var myChart1 = new Chart(linectx, {
  type: 'line',
  data: {
    labels: [{%for data in speed_list %} 
              "{{data.time|date:'H:i' }}",
            {% endfor %}],
    datasets: [
      {
        label: 'ALL',
        data: [{%for data in speed_list %}{{ data.sum_upload_speed }}, {% endfor %}],
        normalized: true,
        fill: true,
        indexAxis: "x",
        backgroundColor: backgroundColorList[0],
        borderColor: borderColorList[0],
        pointRadius: 0,
        borderWidth: 1
      },
      {% for sepsp in sepsp_list%}
      {
        label: '{{ sepsp.tracker }}',
        data: [{%for data in sepsp.stlist %}{{ data.sum_upload_speed }}, {% endfor %}],
        fill: false,
        pointRadius: 0,
        borderWidth: 1
      },
      {% endfor %}
    ]
  },
  options: {
    interaction: {
      mode: "index",
      axis: "x",
      intersect: true
    },
    scales: {
      x: {
        ticks: {
          source: "auto",
          // maxRotation: 0,
          autoSkip: true,
          includeBounds: true,
          major: {
            enabled: true
          }
        }
      },
      y: {
        ticks: {
          callback: function(value, index, values) {
            return formatBytes(value, 0) + '/s';
          }
        }
      }
    },

    plugins: {
      decimation: {
        enabled: true,
        algorithm: "lttb"
      },
      tooltip: {
        callbacks: {
          label: function(context) {
            // console.log(context);  
            return context.dataset.label + ': ' +formatBytes(context.parsed.y) + '/s';
          }
        },
        position: "nearest",
        titleMarginBottom: 16,
        bodySpacing: 8,
        padding: 16
      },
      legend: {
        display: false
      },
    }
  }
});


function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

</script>	

{% endblock %}