{% extends 'auth/base_accounts.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include '_form.html' %}
        <a class="btn btn-outline-secondary" href="javascript:history.go(-1)">取消</a>
        <button type="submit" class="btn btn-success">修改</button>
      </form>
    </div>
  </div>
{% endblock %}
